{
    "branches": [
        {"name":"main"}
    ],
    "tagFormat": "v${version}",
    "plugins": [
        [
            "@semantic-release/commit-analyzer",
            {
                "preset": "angular",
                "releaseRules": [
                    {"type": "fix", "release": "patch"},
                    {"type": "feat", "release": "minor"},
                    {"type": "BREAKING_CHANGE", "release": "major"}
                ]
            }
        ],
        "@semantic-release/release-notes-generator"
    ]
}
