// base env
NEXT_PUBLIC_NODE_ENV=development
NEXT_PUBLIC_IMG_PROXY_KEY=943b421c9eb07c830af81030552c86009268de4e532ba2ee2eab8247c6da0881
NEXT_PUBLIC_IMG_PROXY_SALT=520f986b998545b4785e0defbc4f3c1203f22de2374a3d53cb7a7fe9fea309c5
I18_LANGUAGE_FOLDER=./public/locales
NEXT_PUBLIC_MODULE_COMMENTS_ENABLED=false
NEXT_PUBLIC_AUTH_MODE_TYPE=2
NEXT_PUBLIC_STUDIO_URL=https://web-studio.rupor-dev.rutube.dev
NEXT_PUBLIC_VERSION_ID=2
NEXT_PUBLIC_LOCALIZE_URL=https://api.rupor-dev.rutube.dev/localize-app/v1

// dev api
NEXT_PUBLIC_API_URL=https://api.rupor-dev.rutube.dev
NEXT_PUBLIC_METRICS_API_URL=https://metrics.rupor-dev.rutube.dev
NEXT_PUBLIC_IMG_PROXY_URL=https://imgproxy.rupor-dev.rutube.dev
NEXT_PUBLIC_API_COOKIE_DOMAIN=.rupor-dev.rutube.dev

// test api
NEXT_PUBLIC_API_URL=https://api.rupor-test.rutube.dev
NEXT_PUBLIC_METRICS_API_URL=https://metrics.rupor-test.rutube.dev
NEXT_PUBLIC_IMG_PROXY_URL=https://imgproxy.rupor-test.rutube.dev
NEXT_PUBLIC_API_COOKIE_DOMAIN=.rupor-test.rutube.dev

// perf api
NEXT_PUBLIC_API_URL=https://api.rupor-perf.rutube.dev
NEXT_PUBLIC_METRICS_API_URL=https://metrics.rupor-perf.rutube.dev
NEXT_PUBLIC_IMG_PROXY_URL=https://imgproxy.rupor-perf.rutube.dev
NEXT_PUBLIC_API_COOKIE_DOMAIN=.rupor-perf.rutube.dev
